## Settings file was created by plugin Fix Achievements v1.0.1
## Plugin GUID: FixAchievements

[General]

## Enable the plugin
# Setting type: Boolean
# Default value: true
Status of Enabled = true

## Enable debug mode
# Setting type: Boolean
# Default value: false
Status of Debug = false

## Bypass world cheated detection
# Setting type: Boolean
# Default value: true
Status of Bypass IsWorldCheated = true

## Clear cheated tags from items
# Setting type: Boolean
# Default value: true
Status of Clear Cheated Items Tag = true

## Show messages when cheats are detected
# Setting type: Boolean
# Default value: true
Status of Show Messages = true

